@import url('https://fonts.cdnfonts.com/css/best-love');
body{
    background: url('valentine_edit.png');
    font-weight: bold;
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
}
p{
    color: white;
    font-size: 60px;
    font-family: 'Best Love', sans-serif;
}

div{
    width: 400px;
    height: 500px;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #f07ba3;
    text-align: center;
    border: 10px;
    border-style: solid;
    border-color: white;
    border-radius: 10px;

}
button{
    color: #f07ba3;
    background: #000; 
    border: none;
    font-size: 30px;
    font-family: 'Best Love', sans-serif;
}
#move{
    position: relative;
}

#happy_cat{
    display: none;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}